* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

body html {
  background-color: #222222;
}

#responsiveTitle {
  display: none;
  margin: 0 auto;
  font-size: 38px;
  text-align: center;
  margin-top: 40px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid rgba(35, 34, 34, 0.4);
}

nav #LeftWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav #LeftWrapper span {
  font-size: 28px;
  padding-right: 20px;
}

nav #LeftWrapper #inputWrapper {
  border: 1px solid rgba(35, 34, 34, 0.4);
  height: 40px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  display: none;
}

nav #LeftWrapper i {
  font-size: 15px;
  color: rgba(35, 34, 34, 0.7);
  margin-left: 3px;
}

nav #LeftWrapper input {
  border: none;
  width: 60%;
  outline: none;
  font-size: 15px;
}

nav #LeftWrapper button {
  border: none;
  background-color: #3fca89;
  height: 40px;
  width: 30%;
  color: white;
  font-size: 1em;
}

#RightWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-right: 5%;
}

#RightWrapper * {
  padding: 5px;
  font-size: 1.2em;
  font-weight: 500;
}

#RightWrapper *:hover {
  opacity: .8;
}

#RightWrapper #language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#RightWrapper #language:hover {
  opacity: 1;
}

#RightWrapper #language span {
  font-size: 1em;
}

#RightWrapper #language span:hover {
  opacity: 1;
}

#RightWrapper #language i {
  font-size: 18px;
  font-weight: 700;
  color: pink;
}

#RightWrapper #language i:hover {
  opacity: 1;
}

#RightWrapper #fiverrPro {
  color: #67dbcb;
}

#RightWrapper #signIn {
  border: none;
  background-color: transparent;
}

#RightWrapper #join {
  background-color: transparent;
  border: 1px solid rgba(35, 34, 34, 0.7);
  border-radius: 5px;
  width: 100px;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  margin-left: 15px;
}

#RightWrapper #join:hover {
  border: 1px solid #1dbf73;
  background-color: #1dbf73;
  color: white;
  opacity: 1;
}

/********************************************************************************/
#navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(35, 34, 34, 0.4);
}

.list-wrapper {
  width: 80%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-wrapper ul {
  width: 25%;
  margin-top: 5%;
}

.list-wrapper ul li {
  padding: 5px;
}

.list-wrapper ul li:hover {
  cursor: pointer;
  opacity: .8;
}

.list-wrapper ul li a {
  line-height: 40px;
}

.list-wrapper ul li span {
  font-size: 13px;
  border: 2px solid pink;
  border-radius: 20px;
  padding: 2px;
  padding-right: 3px;
  padding-left: 3px;
  color: pink;
}

#social-list-wrapper {
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 10%;
}

#social-list-wrapper ul {
  width: 50%;
}

/*****************************Main Search Section Landing Page*************************************/
#mainSearchSection {
  margin-left: 5%;
  padding-bottom: 2%;
}

#mainSearchSection h2 {
  padding: 5px;
  font-size: 2rem;
}

#mainSearchSection #inputWrapper {
  width: 50%;
  border: 1px solid rgba(35, 34, 34, 0.4);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 40px;
}

#mainSearchSection #inputWrapper i {
  padding-right: 5px;
}

#mainSearchSection #inputWrapper input {
  border: none;
  outline: none;
}

#mainSearchSection #inputWrapper button {
  border: none;
  background-color: #3fca89;
  width: 20%;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#mainSearchSection #mainSearchUnderTags {
  height: auto;
  margin-top: 4%;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#mainSearchSection #mainSearchUnderTags * {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#mainSearchSection #mainSearchUnderTags a {
  overflow: visible;
  border: 1px solid rgba(35, 34, 34, 0.4);
  border-radius: 5px;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

#mainSearchSection #mainSearchUnderTags a:hover {
  background-color: rgba(35, 34, 34, 0.4);
}

/*****************************Universal classes*************************************/
.invisible {
  height: 0;
  overflow: hidden;
}

.visible {
  height: auto;
}

/***********************Media Queries******************************************/
@media only screen and (max-width: 1100px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    width: 100%;
    padding: 0;
    padding-bottom: 30px;
  }
  nav #LeftWrapper span {
    margin-right: 50px;
  }
  nav #RightWrapper {
    padding-top: 40px;
  }
  #navList {
    display: none;
  }
  #mainSearchSection #inputWrapper {
    justify-items: center;
  }
  #mainSearchSection #mainSearchUnderTags {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 684px) {
  nav #LeftWrapper #inputWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav #LeftWrapper #inputWrapper button {
    width: 20%;
  }
  #responsiveTitle {
    display: block;
  }
  #LeftWrapper span {
    display: none;
  }
  #RightWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #mainSearchSection {
    margin-left: 0;
  }
  #mainSearchSection h2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  #mainSearchSection #inputWrapper {
    display: none;
  }
  #mainSearchSection #mainSearchUnderTags {
    margin-top: 10%;
    min-height: 50px;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3%;
    justify-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #mainSearchSection #mainSearchUnderTags a {
    margin: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    min-width: 150px;
    height: 50px;
    text-align: center;
  }
  #mainSearchSection #mainSearchUnderTags span {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  #list-wrapper {
    display: none;
  }
  #LeftWrapper {
    width: 90%;
  }
  #RightWrapper button {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 420px) {
  #LeftWrapper #inputWrapper button {
    width: 15%;
  }
  #RightWrapper a, #RightWrapper span, #RightWrapper i {
    display: none;
  }
  #RightWrapper button {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=sass.css.map */