
$color-fiverr: rgb(103,219,203);
$button-green: #3fca89;
$blue: rgb(113,189,244);
$green: rgb(2,176,154);


*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

button:hover 
{
    cursor: pointer;
}

a:hover 
{
    cursor: pointer;
}

body, html
{
    
    
}


article
{
  
   
    
   
min-height: 100vh;
    
 
}

#responsiveTitle
{
    display: none;
    margin: 0 auto;
    font-size: 38px;
    text-align: center;
    margin-top: 40px;
}

nav 
{

   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    padding: 30px;
    
    border-bottom: 1px solid rgba(35,34,34,0.4);

    #LeftWrapper
    {
        display: flex;
        flex-direction: row;

        span 
        {
           font-size: 28px;
           padding-right: 20px;
    
        }

        #inputWrapper 
        {
            border: 1px solid rgba(35,34,34,0.4);
            height: 40px;
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            display:none;
        }
       

            i 
            {
                
                font-size: 15px;
                color: rgba(35,34,34,0.7);
                margin-left: 3px;
            }

            input 
            {
                border: none;
                width: 60%;
                outline: none;
                font-size: 15px;
            }

            button 
            {
                border: none;
                background-color: #3fca89;
                height: 40px;
                width: 30%;
                color: white;
                font-size: 1em;

              
            }

        }

       


    }

   
    #RightWrapper

    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-items: center;
        
        padding-right: 5%;


        * 
        {
            padding: 5px;
            font-size: 1.2em;
            font-weight: 500;

            &:hover 
            {
                opacity: .8;
            }

        }

        #language
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &:hover 
            {
                opacity: 1;
            }


            span 
            {
                font-size: 1em;

                &:hover 
                {
                    opacity: 1;
                }



            }
        


           i 
           {
               font-size: 18px;
               font-weight: 700;
               color: pink;

               &:hover 
               {
                   opacity: 1;
               }

           }
        }

     



        #fiverrPro 
        {
            color: rgb(103,219,203);
            
            
        }

        #signIn 
        {
            border:none;
            background-color: transparent;
        }

        #join
        {
            background-color: transparent;
            border: 1px solid rgba(35,34,34,0.7);
            border-radius: 5px;
            width: 100px;
            transition: ease 0.4s;
            margin-left: 15px;

            &:hover 
            {
                border: 1px solid rgb(29,191,115);
                background-color: rgb(29,191,115);
                color: white;
                opacity: 1;
            }
        }

    }
   
    


/********************************************************************************/

#navList
{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
  
    border-bottom: 1px solid rgba(35,34,34,0.4);

  


    
}

.list-wrapper
{
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    display:none;
  
    
    
    
    
    

    ul 
    {

        width: 25%;
        margin-top: 5%;
      


        li 
        {
            padding: 5px;
           

            &:hover 
            {
                cursor: pointer;
                opacity: .8;
            }


            a 
            {
                line-height: 40px;
            }

            span 
            {
                
                font-size: 13px;
                border: 2px solid pink;
                border-radius: 20px;
                padding: 2px;
                padding-right: 3px;
                padding-left: 3px;
                color: pink;
             
                
            }
        }
    }

    

  

}


#social-list-wrapper
{
    width: 30%;
    justify-content: space-around;
    margin-left: 10%;

    ul 
    {
        width: 50%;
    }
}

/*****************************Main Search Section Landing Page*************************************/


#mainSearchSection 
{
    margin-left: 5%;
    padding-bottom: 2%;
    min-height: 500px;
    margin-top: 2%;

    

    h2 
    {
        
        padding: 5px;
        font-size: 2rem;
        

    }

    #inputWrapper
    {
        width: 50%;
        border: 1px solid rgba(35,34,34,0.4);
        border-radius: 5px;
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        margin-top: 1%;  
        margin-bottom: 1%;
        height: 40px;


        i 
        {
            padding-right: 5px;
        }

        input 
        {
            border: none;
            outline: none;
         
            
            
        }
        
        button 
        {
            border: none;
            background-color: #3fca89;
            width: 20%;
            height: 40px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            
        }

        
    }

    #mainSearchUnderTags
    {
        height: auto;
        margin-top: 4%;
        overflow: visible;
        display: flex;
        flex-direction: row;

        * 
        {
           padding: 5px;
           margin-left: 10px;
           margin-right: 10px;
        }

        a 
        {
            overflow: visible;
            border: 1px solid rgba(35,34,34,0.4);
            border-radius: 5px;
            transition: ease-in-out .2s;

            &:hover 
            {
                background-color: rgba(35,34,34,0.4);
            }

        }

    }
}

#logos 
{
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(35,34,34,0.7);
 

    &::after 
    {
        position: relative;
        content: '';
        top: 10px;
       
        width: 100%;
        min-height: 2px;
        margin-bottom: 10px;
    
        border-bottom: solid 5px rgba(35,34,34,0.4);
       
    }

    span 
    {
        padding: 10px;
        font-size: 1.3rem;
       
    }
}



#popularProfessionalServicesWrapper
{


    
    padding: 20px;
    padding-bottom: 100px;

    h1
    {
        padding: 30px;
        padding-left: 0;
    }










#popularProfessionalServices 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;










    div 
    {
        width: 15%;
        min-width: 200px;
        min-height: 300px;
        border: 1px solid black;
        margin-bottom: 15px;
        background-color: rgb(29,191,115);
        overflow: auto;
        border-radius: 5px;


       

        
      


        &:hover
        {
            cursor: pointer;
            background-color: rgba(35,34,34,0.5);
        }
       


        h5 
        {
            padding-top:15px;
            padding-left: 15px;
            color: white;
            letter-spacing: 1px;
        }

        h3 
        {
            padding-left: 15px;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
        }
        
    }
}


}

#get-work-wrapper
{
    padding: 5px;
    padding-bottom: 50px;

    #get-work-wrapper-left

    {

        width: 50%;

    

    

    
        h1 
        {
            text-align: left;
            padding: 5px;
            margin-left: 55px;
            margin-bottom: 20px;
            font-size: 2rem;
            
            
        }

        h3 
        {
            padding-bottom: 5px;
        }


        div 
        {
            width: 100%;
            height: auto;
            padding: 5px;
            margin-bottom: 30px;
            margin-left: 55px;

            i 
            {
                color: $button-green;
            }

        }

    }


    #get-work-wrapper-right
    {
        width: 50%;
        padding-right: 20px;

        iframe 
        {
            width: 100%;
            height: 400px;
        }
    }


}

#explore-the-marketplace 
{
    
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;

   
  

    div 
    {
        width: 25%;
        min-width: 250px;
        height: auto;
        min-height: 250px;
        justify-items: center;
        align-items: center;
        align-content: center;
        


        &:hover 
        {
            cursor: pointer;

            span 
            {

                width: 100px;
                background-color: $button-green;

            }
           
        }

        i 
        {
            font-size: 3rem;
            color: $color-fiverr;
        }


        span 
        {
            width: 50px;
            background-color: black;
            height: 2px;
            margin: 20px;
            margin-top: 10px;
            transition: ease-in-out .2s;

           

        }
    }
}

#get-inspired-wrapper 

{

    width: 100%;







#get-inspired-header 
{
    padding-left: 30px;
}


#get-inspired-see-more
{
    width: 90%;
    text-align: right;
    color: $blue;
    cursor: pointer;
    
    
}

#get-inspired
{
    margin-bottom: 50px;
    padding: 20px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  
    

    div.flex-column 
    {
        width: 20%;
        min-width: 300px;
        padding: 30px;
      
        height: auto;
        cursor: pointer;
        
        
       
        


        .get-inspired-picture 
        {
            width: 100%;
            min-height: 250px;
            background-color: $button-green;
            box-shadow: 5px 0px 5px rgba(35,34,34,0.4);
           
            overflow: visible;



            button 
            {
                width: 48px;
                height: 48px;
                position: relative;
                z-index: 5 !important;
                border: 1px solid rgba(35,34,34,0.1);
                border-radius: 50%;
                top: 51%;
                background-color: #fff;
                outline: none;
                transition: ease-in-out .2s;
                font-size: 1em;

                &:hover 
                {
                    
                    background-color: $button-green;
                    color: #fff;
                    border: none;
                }
            }


            #get-inspired-left
            {
                
                
                left: -24px;
               
            }

            #get-inspired-right
            {
                
               
                left: 91%;
               
            }
            
        }


       div.flex-row 
       {
           justify-content: start;
           padding-top: 15px;
           border: 1px solid rgba(35,34,34,0.1);
           padding-bottom: 15px;
           padding-left: 10px;
           box-shadow: 5px 5px 5px rgba(35,34,34,0.4);
           


        i 
        {
            text-align: center;
            font-size: 2em;
            border: 1px solid rgba(35,34,34,0.4);
            border-radius: 50%;
            margin-right: 5px;
            justify-content: center;
            align-items: center;
           
            
           
           
        }

        p 
        {
            font-style: italic;
        }


       } 



    }


}

}


.two-row 
{
    padding: 20px;
    min-height: 400px;
    padding-bottom: 50px;
    justify-items: center;
   
  

span 

{
    overflow: visible;

    button 
    {
        position: relative;
        top: 50% !important;
        
        z-index: 5;
        
    }

    #own-ad-btn-left
    {
        left: 50%;
    }

    #own-ad-btn-right
    {
        right: 50%;
    }
}



    iframe 
    {
        width: 50%;
        
        min-width: 300px;
        border: 1px solid rgba(35,34,34,0.4);
        box-shadow: 10px 10px 10px rgba(35,34,34,0.4);
        border-radius: 5px;
    }

    div 
    {
        width: 50%;
        min-width: 300px;
        height: 360px;
        padding: 20px;
      
        border: 1px solid rgba(35,34,34,0.4);
        box-shadow: 10px 10px 10px rgba(35,34,34,0.4);
        border-radius: 5px;

      
    }

    #own-ad-text
    {
        overflow: visible;

        h3 
        {
            width: 70%;
            padding: 30px;
        }

        p 
        {
            padding: 30px;
        }
    }
}

#explore-pro-services
    {
        width: 90%;
        margin: 0 auto;
        //background-color: rgb(29,191,115);
        min-height: 250px;
        height: auto;
        margin-bottom: 50px;
        box-shadow: 10px 10px 10px rgba(35,34,34,0.4);
        border-radius: 5px;
        padding: 50px;

        h2 
        {
            margin-left: 5%;
            padding: 10px;
            margin-top: 30px;
          
        }

        h1 
        {
            margin-left: 5%;
            padding: 10px;
            font-size: 2rem;
            
        }

        button 
        {
            margin-left: 5%;
            margin-top: 30px;
            padding: 10px;
            width: 170px;
            height: 40px;
            background-color: transparent;
            outline: none;
            color: $green;
            border: 1px solid $green;
            border-radius: 5px;
            transition: ease-in-out .2s;
            font-weight: bold;

            &:hover 
            {
                background-color: $green;
                color: #fff;
            }

        }
    }


    
 #give-your-business-the-right-tools-wrapper
{
    padding: 5px;
    padding-bottom: 50px;

    #give-your-business-the-right-tools

    {

        width: 50%;

    

    

    
        h1 
        {
            text-align: left;
            padding: 5px;
            margin-left: 55px;
            margin-bottom: 20px;
            font-size: 2rem;
            
            
        }

        h3 
        {
            padding-bottom: 5px;
        }


        div 
        {
            width: 100%;
            height: auto;
            padding: 5px;
            margin-bottom: 30px;
            margin-left: 55px;

            i 
            {
                color: $button-green;
            }

        }

    }

    #give-your-business-the-right-tools-img
    {
        width: 50%;
        height: 350px;
        background-color: rgb(29,191,115);
        margin-right: 5%;
    }
}

#fiverr-guides-header
{
    margin-left: 30px;
}

#fiverr-guides-see-more
{
    margin-right: 5%;
    text-align: right;
    color: $blue;

    &:hover
    {
        cursor: pointer;
    }
   

  
}


#fiverr-guides-wrapper
{
    padding: 20px;

    
    section
    {
        width: 100%;
        margin: 20px;

        div 
        {
            width: 100%;
            height: 300px;
            min-height: 250;
            background-color: rgb(29,191,115);
            margin-bottom: 30px;
          
        }
    }
}


#find-freelance
{


width: 90%;
margin: 0 auto;
//background-color: rgb(29,191,115);
min-height: 250px;
height: auto;
margin-bottom: 50px;
box-shadow: 10px 10px 10px rgba(35,34,34,0.4);
border-radius: 5px;
padding: 50px;
text-align:center;

*
{
    padding: 15px;
}

button 
{
    height: auto;
}

}

footer 
{
    width: 100%;
    height: auto;
    padding-bottom: 30px;

    #footer-wrapper
    {

    

    #footer-ul-wrapper
    {
       justify-content: space-around;
       flex-wrap: wrap;

        div 
        {
            min-width: 200px;
            margin-top: 25px;
            padding: 10px;

            h3 
            {
                padding: 10px;
            }

            li 
            {
                padding: 10px;
            }
        }

       

    }

    #bottom-wrapper
    {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(35,34,34,0.4);
        padding-top: 25px;
        justify-content: space-between;
        padding-bottom: 30px;
        align-items: center;
        flex-wrap: wrap;

        #bottom-wrapper-top 
        {
            width: 30%;
            min-width: 300px;
            margin-bottom: 20px;

            h2 
            {
                margin-right: 5%;
            }
            
        }

        #bottom-wrapper-bottom
        {
            justify-content: start;
            flex-wrap: wrap;
            align-items: center;

            #footer-icons
            {
                padding: 10px;
                background-color: transparent;
                border: none;
                outline: none;
                margin-right: 5px;

                i 
                {
                  
                  
                  font-size: 1rem;
                  margin-right: 5px;
                  color: $blue;
                  padding: 10px;
                  opacity: .8;
                  margin-bottom: 1px;
                
                 
                  &:hover 
                  {
                      cursor: pointer;
                      opacity: 1;
                      
                      border-bottom: 1px solid $blue;
                  }
                }
            }

            #footer-button 
            {
                height: auto;
                padding: 10px;
                margin-left: 5px;
                
                

                i
                {
                   
                    margin-right: 10px;
                    color: pink;
                }
            }
        }
    
    }

}

}




/*****************************Universal classes*************************************/

.invisible
{
    
    opacity:0;
}

.visible
{
    opacity:1;
}

.flex-row
{
    display: flex;
    flex-direction: row;
  
   
    align-content: center;
   
}

.flex-column
{
    display: flex;
    flex-direction: column;
    
  
    align-content: center;
}

.btn-circle
{
    width: 48px;
    height: 48px;
    border: 1px solid rgba(35,34,34,0.1);
    border-radius: 50%;
    background-color: #fff;
    outline: none;
    transition: ease-in-out .2s;
    font-size: 1em;

    &:hover 
    {
        
        background-color: $button-green;
        color: #fff;
        border: none;
    }
}

.btn
{
  
  
    width: 170px;
    height: 40px;
    background-color: transparent;
    outline: none;
    color: $green;
    border: 1px solid $green;
    border-radius: 5px;
    transition: ease-in-out .2s;
    font-weight: bold;

    &:hover 
    {
        background-color: $green;
        color: #fff;
    }

}


/***********************Media Queries******************************************/



@media only screen and (max-width: 1100px) 

{

    nav 
    {
       
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
        padding: 0;
        padding-bottom: 30px;

     
      

        #LeftWrapper
        {

         

           span 
           {
               margin-right: 50px;
            
           }


           
        }
        
        #RightWrapper
        {
            padding-top: 40px;
            
        }
    }
  
    #navList
    {
        display: none;
    }




    #mainSearchSection
    {   
        #inputWrapper
        {
            justify-items: center;
        }

        #mainSearchUnderTags
        {
            margin-top: 10%;
        }

    }
  
  
}


#get-inspired-wrapper
{
    button 
    {
        display: none;
    }

    h3 
    {
        margin-top: 20px;
    }
}






@media only screen and (max-width: 684px)

{

    .two-row 
    {
        span 
        {
            display: none;
        }
    }

    nav 
    {
        #LeftWrapper
        {

         

           #inputWrapper
           {
              display: flex;
              
              button 
              {
                  width: 20%;
              }
            
           }


           
        }
    }

    #responsiveTitle
    {
        display: block;
    }


    #LeftWrapper
    {

        span 
        {
            display: none;
        }
    }


    #RightWrapper
    {
        flex-wrap: wrap;
        justify-content: space-around;

        
   
     
       
    }


    #mainSearchSection
    {   
        margin-left: 0;

        h2 
        {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            
        }
        #inputWrapper
        {
            display:none


        }

        #mainSearchUnderTags
        {
            margin-top: 10%;
            
            min-height: 50px;
            height: auto;
            align-items: center;
            padding-bottom: 3%;
            justify-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            

            a 
            {
                margin: 3%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                min-width: 150px;
                height: 50px;
                text-align: center;
                

               
        
            }


            span 
            {
                display: none;
            }

        }

    }




}






@media only screen and (max-width: 420px)
{

    #list-wrapper

    {
        display:none;
    }

#LeftWrapper
{

    width: 90%;


}
  

#RightWrapper
{

    button 
    {
        margin-top: 25px;
    }

}
 

}

@media only screen and (max-width: 420px)
{

    #LeftWrapper 
    {
        #inputWrapper 
        {
            button
            {
                width: 15%;
            }
        }
    }


    #RightWrapper
    {
        a, span, i
        {
            display: none;
        }

        button 
        {
            margin-bottom: 30px;
        }
    }
}